.description {
  margin: 105px auto 120px;

}

.description-inner {
  @include inner;
}

.description-wrap {
  display: flex;
  justify-content: space-between;
}

.description-text-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 97px;
}

.description-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: $dark;
  margin-bottom: 56px;
}

.description-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  margin-bottom: 50px;
}

.description-figure-wrap {
  display: flex;
}

.figure {
  display: flex;
  justify-content: center;
  width: 833px;
  height: 782px;
  border-radius: 42% 42% 23% 23%;
  background: rgba($purple , .2);
}


.figure-img {
  display: block;
}
