.description {
  margin: 105px auto 120px;

}

.description-inner {
  @include inner;

  @media (max-width:$laptop) {
    width: 1278px;
  }
}

.description-wrap {
  display: flex;
  justify-content: space-between;
}

.description-text-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 37px;


  @media (max-width:$laptop) {
    margin-right: 37px;
  }
}

.description-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: $dark;
  margin-bottom: 56px;


  @media (max-width:$laptop) {
    font-weight: 600;
    font-size: 50px;
    line-height: 85px;
  }
}

.description-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  margin-bottom: 50px;


  @media (max-width:$laptop) {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
  }
}

.description-figure-wrap {
  display: flex;
}

.figure {
  display: flex;
  justify-content: center;
  width: 833px;
  height: 782px;
  border-radius: 42% 42% 23% 23%;
  background: rgba($purple , .2);


  @media (max-width:$laptop) {
    width: 633px;
    height: 582px;
  }

}


.figure-img {
  display: block;
}
