.contact-us{
  margin-bottom: 334px;
}

.contact-us-inner {
  @include inner;

  @media (max-width:$laptop) {
    width: 1278px;
  }
}

.contact-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-us-description {
  display: flex;
  flex-direction: column;
}

.contact-us-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1c2323;
  white-space: nowrap;


  @media (max-width:$laptop) {
    font-weight: 600;
    font-size: 54px;
    line-height: 105px;
  }
}

.contact-us-text {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: $green;


  @media (max-width:$laptop) {
    font-weight: 500;
    font-size: 19px;
    line-height: 38px;
  }
}

.contact-us-line {

  width: 135px;
  border-bottom: 5px solid rgba($purple, .65);
  margin-bottom: 15px;


  &:last-child {
    margin-bottom: 0;
  }
}

.form-wrap {
  margin: 0;
  margin-left: 105px;
  width: 1105px;
  border: 1px solid black;


  @media (max-width:$laptop) {
    margin-left: 105px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;

  &.btn-field{
    flex-wrap: nowrap;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0 54px 0 54px;

  &.field-half {
    flex-basis: calc(50% - 108px);


    @media (max-width:$laptop) {
      flex-basis: 46%;
    }
  }

  &.btn-field {
    margin-left: 0;
    flex-basis: calc(50% - 280px);


    @media (max-width:$laptop) {
      margin-left: 130px;
      flex-basis: 19%;
    }
  }
}

.form-label {
  margin-top: 57px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: $purple;


  @media (max-width:$laptop) {
    font-size: 22px;
    line-height: 38px;
  }
}

.last-label {
  margin-top: 37px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: $purple;


  @media (max-width:$laptop) {
    font-size: 22px;
    line-height: 36px;
  }
}

.form-input {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: black;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0);


  @media (max-width:$laptop) {
    font-size: 12px;
    line-height: 38px;
  }
}

.form-textarea {
  width: 669px;
  height: 100px;
  resize: vertical;
  border: none;
  outline: none;

  @media (max-width:$laptop) {
    width: 400px;
    height: 100px;
  }
}

.button {
  margin-top: 95px;
  width: 271px;
  height: 80px;
  background-color: $purple;
  border: none;
  border-radius: 20px 20px 20px 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #fff;
  cursor: pointer;

  &:hover{
    background-color: rgba($purple, .65);
  }


  @media (max-width:$laptop) {
    margin-top: 86px;
    width: 171px;
    height: 60px;
  }
}
